<div class="register-container">
  <h2>Register (Admin Only)</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        id="email"
        type="email"
        formControlName="email"
        required
      />
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
        required
      />
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        id="userName"
        type="text"
        formControlName="userName"
        required
      />
      <mat-error *ngIf="registerForm.get('userName')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
  <p>Already have an account? <a routerLink="/login">Login here</a></p>
</div>
