
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin-right: 10px;
  }

  .user-name {
    margin-left: 20px;
    margin-right: 10px;
    font-weight: bold;
  }
}
