<mat-toolbar color="primary">
  <span>Task Manager</span>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
    <button mat-button routerLink="/tasks">Tasks</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/settings">Settings</button>
    <span class="user-name">{{ userName }}</span>
    <button mat-button (click)="logout()">Logout</button>
    <button
      mat-icon-button
      class="theme-toggle"
      (click)="onThemeToggle()"
      [attr.aria-label]="
        'Toggle theme to ' + (isDarkTheme ? 'light' : 'dark') + ' mode'
      "
    >
      <mat-icon>{{ isDarkTheme ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </ng-container>
  <ng-template #notLoggedIn>
    <button mat-button routerLink="/login">Login</button>
    <button
      mat-icon-button
      class="theme-toggle"
      (click)="onThemeToggle()"
      [attr.aria-label]="
        'Toggle theme to ' + (isDarkTheme ? 'light' : 'dark') + ' mode'
      "
    >
      <mat-icon>{{ isDarkTheme ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
