.actions {
  margin-bottom: 20px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.filters mat-form-field {
  flex: 1 1 200px;
}
table {
  width: 100%;
}
mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
td[innerHTML] {
  max-height: 100px;
  overflow-y: auto;
}
mat-chip-listbox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
ul {
  padding-left: 20px;
  margin: 0;
}
