<mat-toolbar color="Primary">
  <span>Task Manager</span>
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/tasks">Tasks</button>
  <button mat-button routerLink="/settings">Settings</button>
</mat-toolbar>
<router-outlet></router-outlet>

<!-- <mat-toolbar color="primary">
  <span>Task Manager</span>
  <button mat-button (click)="navigateTo('dashboard')">Dashboard</button>
  <button mat-button (click)="navigateTo('tasks')">Tasks</button>
  <button mat-button (click)="navigateTo('settings')">Settings</button>
</mat-toolbar>
<router-outlet></router-outlet> -->
