<div class="settings-container">
  <h2>Settings</h2>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        id="userName"
        type="text"
        formControlName="userName"
        required
      />
      <mat-error *ngIf="settingsForm.get('userName')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
        required
      />
      <mat-error *ngIf="settingsForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="settingsForm.invalid"
    >
      Update Details
    </button>
  </form>
</div>
