/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background-color: #4caf50; /* Green for success */
  color: white;
}

.error-snackbar {
  background-color: #f44336; /* Red for error */
  color: white;
}
